<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
        integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <title>TodoApp</title>
</head>
<body>
    <div id="app">
        <modal 
            v-if="showModal" 
            @close-modal="closeModal"
            v-bind:task-list="taskList"
            v-bind:target-task-index="targetTaskIndex"
        ></modal>
        <div class="container">
            <div class="contents">
                <h1 class="main-title">TodoApp</h1>
                <form action="" class="task-form">
                    <div>
                        <label for="task-title">taskTitle</label>
                        <input name="task-title" type="text" v-model="taskTitle">
                    </div>
                    <div>
                        <label for="task-detail">taskDetail</label>
                        <input name="task-detail" type="text" v-model="taskDetail">
                    </div>
                    <button type="button" v-on:click="addTask" v-bind:disabled="isAddBtnDisabled">Todoを追加</button>
                </form>
                <ul class="task-list">
                    <li v-for="(item, index) in taskList">
                        <div class="task-list__title-group">
                            <span class="task-list__title">{{ item.title }}</span>
                            <div>
                                <span class="task-list__edit-icon" v-on:click="openModal(index)"><i class="fas fa-edit"></i></span>
                                <span class="task-list__delete-icon" v-on:click="deleteTask(index)"><i class="fas fa-times"></i></span>
                            </div>
                        </div>
                        <span class="task-list__detail">{{ item.detail }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="index.js"></script>
</body>
</html>